---
import MainSection from "../components/01-main-section.astro";
import AboutSection from "../components/02-about-section.astro";
import ServicesSection from "../components/03-services-section.astro";
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<Header />

	<main>
		<MainSection />
		<AboutSection />
		<ServicesSection />
	</main>

	<footer></footer>
</Layout>
