---
// import { Image } from "astro:assets";
// import hotelImage from "../../public/images/hotel-01.jpg";
---

<section
	class="relative bg-cover bg-no-repeat bg-center"
	style="background-image: url('../../public/images/hotel-01.jpg');"
>
	<div class="absolute inset-0 bg-black opacity-40"></div>
	<div class="relative px-6 py-12 text-white">
		<h1 class="text-4xl font-bold">Experience the vibrant hospitality</h1>
		<p class="mt-4 text-xl font-light">
			Discover the breathtaking wonders of Copacabana, Antioquia with Hospedaje
			Brazil's premier tourism services
		</p>
		<button
			class="bg-[#1c4324] px-10 py-3 text-white text-lg rounded-lg w-full md:max-w-sm font-light mt-6 hover:bg-[#6c7c6f] transition-all"
			>Book Now</button
		>
	</div>
</section>
