---
// import { Image } from "astro:assets";
// import hotelImage from "../../public/images/hotel-01.jpg";
---

<section
	class="relative bg-cover bg-no-repeat bg-center grid place-items-center md:h-[520px] md:place-items-stretch"
	style="background-image: url('/images/hotel-01.jpg');"
>
	<div class="absolute inset-0 bg-black opacity-40"></div>
	<div
		class="relative px-10 py-12 text-white max-w-[800px] grid place-content-center lg:pl-20 lg:ml-20"
	>
		<h1 class="text-4xl font-bold leading-normal">
			Experience the vibrant hospitality
		</h1>
		<p class="mt-4 text-xl font-light">
			Discover the breathtaking wonders of Copacabana, Antioquia with Hospedaje
			Brazil's premier tourism services
		</p>
		<button
			class="bg-[#1c4324] px-10 py-3 mx-auto md:mx-0 text-white text-lg rounded-lg w-full md:max-w-fit font-light mt-6 hover:bg-[#6c7c6f] transition-all"
			><a href="/">Book Now</a></button
		>
	</div>
</section>
