<section>
	<div>
		<h2 class="mb-8">Acerca de nosotros</h2>

		<div class="flex flex-col gap-4 leading-relaxed md:text-xl">
			<p>
				El Hospedaje Brazil está ubicados en un punto estratégico en Copacabana,
				cerca al parque principal donde tenemos todas las comodidades a nuestra
				disposición como restaurantes, gimnasio, parqueadero, terminal de buses
				y discotecas.
			</p>

			<p>
				At Hospedaje Brazil, we are commited to delivering the highest standard
				of hospitality. Whether you are visiting for business or pleasure, our
				delicated team is here to ensure is comfortable and enjoyable.
				Experience the warmth and charm of our hotel and let us make your time
				in Copacabana truly special
			</p>
		</div>
	</div>
</section>
