<section class="px-6 py-10 max-w-3xl mx-auto">
	<h2 class="mb-8">About us</h2>

	<div class="flex flex-col gap-4 leading-relaxed">
		<p>
			Welcome to Hospedaje Brazil, a premier hotel located in the beautiful city
			of Copacabana, Antioquia. With our exceptional services and top-notch
			facilities, we strive to provide our guests with an unforgettable
			experience
		</p>

		<p>
			At Hospedaje Brazil, we are commited to delivering the highest standard of
			hospitality. Whether you are visiting for business or pleasure, our
			delicated team is here to ensure is comfortable and enjoyable. Experience
			the warmth and charm of our hotel and let us make your time in Copacabana
			truly special
		</p>
	</div>
</section>
