---
import { Image } from "astro:assets";
import logoImage from "../../public/images/logo-hospedaje-brazil.jpg";
import Facebook from "./icons/facebook.astro";
import HamburguerMenu from "./icons/hamburguer-menu.astro";
import Instagram from "./icons/instagram.astro";
import Twitter from "./icons/twitter.astro";
---

<header class="flex justify-between items-center px-4 py-6">
	<figure class="justify-self-center">
		<Image src={logoImage} alt={"Logo Hospedaje Brazil"} width={72} />
	</figure>

	<span class="sm:hidden">
		<HamburguerMenu />
	</span>
	<nav class="hidden sm:flex items-center gap-6">
		<ul class="flex gap-2 [&>li]:bg-white [&>li]:p-2 [&>li]:rounded-full">
			<li>
				<a href="/">
					<Facebook />
				</a>
			</li>
			<li>
				<a href="/">
					<Instagram />
				</a>
			</li>
			<li>
				<a href="/">
					<Twitter />
				</a>
			</li>
		</ul>

		<button
			class="bg-[#1c4324] text-white py-2 px-4 rounded-xl hover:bg-[#6c7c6f] transition-all"
			>Book Now</button
		>
	</nav>
</header>
