---
import Facebook from "./icons/facebook.astro";
import HamburguerMenu from "./icons/hamburguer-menu.astro";
import Instagram from "./icons/instagram.astro";
import Twitter from "./icons/twitter.astro";
---

<header class="flex justify-between items-center px-4 py-6">
	<span>Hospedaje Brazil</span>

	<HamburguerMenu />

	<nav class="hidden">
		<ul>
			<li>
				<a href="/">
					<Facebook />
				</a>
			</li>
			<li>
				<a href="/">
					<Instagram />
				</a>
			</li>
			<li>
				<a href="/">
					<Twitter />
				</a>
			</li>
		</ul>

		<button>Book Now</button>
	</nav>
</header>
